@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Ultra Light'), local('Gilroy-Ultra-Light'),
        url('Gilroy-UltraLight.woff2') format('woff2'),
        url('Gilroy-UltraLight.woff') format('woff'),
        url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }